.contact_div {
position: relative;
}
#contact-form {
  display: block;
}
.mail_data_div {
  display: flex;
  margin-bottom: 4em;
}
.contact_data {
  text-align: left;
  margin-left: 10em;
}
.map_div {
  position: inherit;
  bottom: 0px;
  width: 100%;
}
.google_maps {
  width: 100%;
  height: inherit;
}
.mail_form {
  display: block;
  position: absolute;
  margin-top: 1em;
  right: 10em;
  width: 30em;
  > form {
    > input {
      font-family: 'Montserrat-medium', serif;
      width: 30em;
      height: 2em;
      padding: 2px;
      margin-bottom: 1em;
      border-radius: 10px;
      border: 2px solid gray;
    }
    > input:focus {
      outline-style: none ;
      border-color: #3f89a2;
    }
    > textarea {
      padding: 4px 2px;
      font-family: 'Montserrat-medium', serif;
      border: 2px solid gray;
      width: 30em;
      height: 18em;
      border-radius: 10px;
      box-shadow: none;
    }
    > textarea:focus {
      outline-style: none;
      border-color: #3f89a2;
    }
  }
}

iframe {
  width: inherit;
  height: calc(22em + 6px);
  border-style: none;
  border-radius: 10px;
}

.submitButton {
  position: absolute;
  bottom: 0.3em;
  margin-left: 1em;
  text-align: center;
  font-family: 'Montserrat-medium', serif;
  width: 5.5em;
  height: 2.5em;
  border-radius: 10px;
  border: 2px solid gray;
  background-color: white;
}
.submitButton:hover {
  cursor: pointer;
  border-color: #3f89a2;
}
.submitButton:focus {
  outline-style: none;
}