@import "components.module";

.containerCookies {
  position: fixed;
  bottom: 0;
  @include flex-center();
  height: auto;
  width: 100%;
  z-index: 1000;
  filter: drop-shadow(10px 0px 10px rgba(0,0,0,0.4));
  @media only screen and (max-width: 1280px) {
    justify-content: center;
    align-items: center;
  }
  > .content {
    font-size: 1em;
    padding: 1em;
    border-radius: 0.4em;
    display: block;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #eeeeee;
    width: 90%;
    height: auto;
    @media only screen and (max-width: 1280px) {
      width: 90%;
    }
    @media only screen and (max-width: 600px) {
      width: 90%;
      font-size: 0.75em;
    }
    > .cancel {
      position: absolute;
      right: 0;
      top: 0;
      margin: 1em;
      cursor: pointer;
      font-size: 1.3em;
    }
    > .title {
      font-size: 1.2em;
      padding: 0.5em;
      @media only screen and (max-width: 1280px) {
        font-size: 1em;
      }
      @media only screen and (max-width: 600px) {
        font-size: 0.7em;
      }
    }
    > .body {
      padding: 1em 0 0 0;
      text-align: center;
    }
    > .buttonContainer {
      @include flex-center();
      padding: 1em 0 0 0;
      > .button {
        margin: 1em 2em;
      }
    }
  }
}

.href {;
  text-decoration: underline;
  color: black;
}

.href:hover {
  font-weight: bold;
  cursor: pointer;
  color: #3f89a2;
}