.thumbnail {
  background: rgba(0, 0, 0, 0.3);
  height: inherit;
  width: inherit;
  animation: fadeIn 1s;
}

.gallery {
  margin: 2em;
  @include flex-center();
  flex-wrap: wrap;
  @media only screen and (max-width: 1000px) {
    margin: 1em 0;
  }
}

.image {
  margin: 0.5em;
  width: 350px;
  height: 200px;
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease;
  @media only screen and (max-width: 1000px) {
    width: 200px;
    height: 120px;
    margin: 0.25em;
  }
  @media only screen and (max-width: 700px) {
    width: 150px;
    height: 100px;
    margin: 0.25em;
  }
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
    filter: brightness(0.7);
  }
}


