.expandButton {
  padding: 10px;
  background: white;
  width: 10em;
  margin: 2em;
}
.expandButton:hover {
  cursor: pointer;
  color: #3f89a2;
}
.openedExpand {
  color: #3f89a2;
}
.expand {
  margin: -1.5em -3em -1.5em 2em;
  padding: 1em;
  border-radius: 10px;
  width: 90%;
  -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.4);
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.4);
  box-shadow:         inset 0 0 10px rgba(0,0,0,0.4);
}
.expandImages {
  display: flex;
}
.list_div {
  font-size: 20px;
  display: block;
}
.production {
  display: block;
  margin-bottom: 2em;
}
.fullExpand {
  width: 100%;
}
.productionImage:hover {
  cursor: pointer;
}
.productionImage {
  margin: 1em;
}
.productionImage:hover {
  transform: scale(1.05);
  transition-duration: 1000ms;
}
