.transportText {
  @include flex-center();
  @include flex-direction(column);
  padding: 1em 2em;
  @media only screen and (max-width: 1000px) {
    padding: 1em;
  }
}
.transportLine {
  margin: 1em 1em 3em 1em;
  border: 1px none;
  border-top-style: solid;
  text-align: center;
}
.transportIcon {
  position: absolute;
  margin-top: -0.5em;
  color: black;
  font-size: 3em;
  left:0;
  right:0;
  transition: all 0.3s ease;
  @include flex-center;
  > svg {
    background: white;
  }
}
.transportIcon:hover {
  cursor: pointer;
  color: #3f89a2;
  transform: scale(1.2);
}

.transportIconActive {
  @extend  .transportIcon;
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

.transportIconActive:hover {
  transform: scale(1.2) rotate(180deg);
  cursor: pointer;
  color: #3f89a2;
}

.transportList {
  @include flex-center();
  @include flex-direction(column);
  list-style: none;
  padding: 0;
  li {
    @include flex-center();
    padding: .1em 1em;
    font-size: 1em;
    margin: 0.8em 0;
    background: #eee;
    filter:drop-shadow(1px 2px 4px #aaa);
    @media only screen and (max-width: 1000px) {
      padding: 1em;
      font-size: 0.8em;
      margin: 0.8em;
    }
  }
}

.checkmark {
  font-size: 4em;
  color: green;
  @media only screen and (max-width: 1000px) {
    font-size: 8em;
  }
}

.underList {
  text-align: center;
  width: 70%
}
