.contact_div {
  padding-top: 1em;
  position: relative;
  @include flex-center;
  @include flex-direction(column);
  > .contact_content {
    width: 60%;
    @include flex-direction(row);
    justify-content: space-between;
    @media only screen and (max-width: 1400px) {
      width: 70%;
    }
    @media only screen and (max-width: 1000px) {
      width: 80%;
    }
    @media only screen and (max-width: 700px) {
      @include flex-direction(column);
      @include flex-center;
      width: 100%;
    }
    > .contact_data {
      width: 100%;
      line-height: 1.6em;
      text-align: left;
      padding: 5px;
      @media only screen and (max-width: 700px) {
        text-align: center;
        padding: 0;
      }
    }
    > .contact_form {
      @include flex-direction(column);
      margin-top: 2em;
      text-align: center;
      align-items: flex-end;
      width: 100%;
      @media only screen and (max-width: 700px) {
        align-items: center;
        margin: 1em;
      }
      > input {
        font-family: 'Montserrat-medium', serif;
        width: 40em;
        height: 2em;
        padding: 1em;
        margin-bottom: 1em;
        border-radius: 2px;
        border: 2px solid gray;
        @media only screen and (max-width: 1400px) {
          width: 25em;
        }
        @media only screen and (max-width: 1000px) {
          width: 80%;
        }
        @media only screen and (max-width: 700px) {
          width: 80%;
        }
      }
      > input:focus {
        outline-style: none;
        border-color: #3f89a2;
      }
      > textarea {
        padding: 1em;
        font-family: 'Montserrat-medium', serif;
        border: 2px solid gray;
        width: 40em;
        height: 13em;
        border-radius: 2px;
        box-shadow: none;
        @media only screen and (max-width: 1400px) {
          width: 25em;
        }
        @media only screen and (max-width: 1000px) {
          width: 80%;
        }
        @media only screen and (max-width: 700px) {
          width: 80%;
        }
      }
      > textarea:focus {
        outline-style: none;
        border-color: #3f89a2;
      }
      > div {
        display: flex;
        flex-direction: row-reverse;
        @media only screen and (max-width: 700px) {
          display: block;
          width: 100%;
          margin: 1em;
        }
        > .submitButton {
          text-align: center;
          font-family: 'Montserrat-medium', serif;
          margin: 1em 0 4em 1em;
          padding: 1em;
          width: 13em;
          border-radius: 2px;
          border: 2px solid #3f89a2;
          color: white;
          background: #3f89a2;
          transition: all 0.3s ease;
          @media only screen and (max-width: 700px) {
            width: 80%;
            margin: 1em;
          }
        }
        .submitButton:hover {
          cursor: pointer;
          color: white;
          background: #47A8C4;
          border-color: #47A8C4;
        }
        .submitButton:focus {
          outline-style: none;
        }
        .lockedButton:hover {
          cursor: auto;
          background: #3f89a2;
        }
      }
    }
  }
  > .map_div {
    position: relative;
    bottom: 0;
    width: 100%;
    > .google_maps {
      width: 100%;
    }
  }
}

iframe {
  width: inherit;
  height: calc(22em + 6px);
  border-style: none;
  border-radius: 10px;
}