.contact_div {
  justify-content: center;
  align-items: center;
}
.contact_data {
  text-align: center;
}
.mail_map_div {
  margin-top: 3em;
  display: flex;
}
.google_maps {
  width: 40em;
  height: inherit;
  position: absolute;
  right: 10em;
}
.mail_form {
  display: block;
  margin-left: 10em;
  width: 30em;
  > input {
    width: 30em;
    height: 2em;
    padding: 2px;
    margin-bottom: 1em;
    border-radius: 10px;
    border-style: none;
  }
  > input:focus {
    outline-style: none ;
    filter: drop-shadow(3px 3px rgba(63, 137, 162, 1));
  }
  > textarea {
    width: 30em;
    height: 20em;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
  }
  > textarea:focus {
    outline-style: none ;
    filter: drop-shadow(3px 3px rgba(63, 137, 162, 1));
  }
}

iframe {
  width: inherit;
  height: calc(22em + 6px);
  border-style: none;
  border-radius: 10px;
}