.footer {
  height: 5em;
  align-items: center;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 15em;
  background: linear-gradient(90deg, rgba(20,22,26,1) 0%, rgba(60,64,71,1) 100%);
  color: #ddd;
}
.header {
  color: white;
  text-transform: uppercase;
}
.footerList {
  @include flex();
  justify-content: center;
  list-style-type: none;
  margin: auto;
  letter-spacing: 1px;
  line-height: 1.3em;
  > li {
    text-decoration: none;
    padding: 1em 5em;
    font-size: 0.9em;
    transition: all 0.3s ease;
    border: 1px none #DBDADD;
    border-right-style: solid;
  }
  > li:last-child {
    border-style: none;
  }
}
#fb_icon {
  margin-top: 1em;
  font-size: 3em;
  text-align: center;
  color: rgba(79, 140, 224, 1);
  transition: all 0.3s ease;
  > a {
    text-decoration: none;
    color: inherit;
  }
}

#fb_icon:hover {
  color: #3B5998;
  transform: scale(1.5);
  cursor: pointer;
}

.sitesContainer {

  >.sites {
    color: #ddd;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 0.2em 0;
    &:hover {
      color: white;
    }
  }
}
