.react-parallax-bgimage {
  @media only screen and (max-width: 1000px) {
    transform: scale(0.7) translate3d(-84%, -406.826px, 0px) !important;
  }
}

.bgContainer {
  @include flex-center();
  flex-direction: column;
  height: 600px;
  @media only screen and (max-width: 1000px) {
    height: 500px;
  }
}

.bgContainer2 {
  position: relative;
  height: 600px;
  @media only screen and (max-width: 1000px) {
    height: 500px;
  }
  @media only screen and (max-width: 700px) {
    height: 350px;
  }
}

.bgText {
  color: white;
  font-size: 5em;
  filter: drop-shadow(1px 1px 5px #000);
  @media only screen and (max-width: 1000px) {
    font-size: 3em;
  }
}

.bgButtonContainer {
  position: absolute;
  top: 50%;
  width: 100%;
  @include flex-center();
  > .bgButton {
    position: absolute;
    font-size: 1.5em;
    margin-top: 5em;
    padding: 1em 3em;
    filter: drop-shadow(1px 1px 2px #333333);
    color: white;
    border: 1px solid white;
    cursor: pointer;
    @media only screen and (max-width: 1000px) {
      margin-top: 1em;
    }
    @media only screen and (max-width: 700px) {
      margin-top: 0;
    }
  }

  > .bgButton2 {
    @extend .bgButton;
    background: white;
    color: black;
    clip-path: circle(100% at -80% 50%);
    z-index: 2;
    transition: clip-path 0.5s ease-in-out;
    @media only screen and (max-width: 1000px) {
      margin-top: 3em;
    }
  }
}

.bgButtonContainer:hover {
  .bgButton2 {
    clip-path: circle(100% at 50% 50%);
  }
}

.about_us_div {
  @include flex-center;
  @include flex-direction(column);
  margin: auto;
  width: 70%;
  padding: 2em;
  color: black;
  font-size: 1.1em;
  line-height: 1.5em;
  @media only screen and (max-width: 1000px) {
    width: 90%;
    padding: 1em 1em 2em 1em;
    line-height: 1.3em;
  }
  > .about_us_first {
    @include flex-center;
    text-align: center;
    justify-content: space-between;
    margin: 1em 0;
    font-size: 1em;
    @media only screen and (max-width: 1000px) {
      @include flex-direction(column);
      display: flex;
      font-size: 0.9em;
    }
    > .about_us_photo {
      height: 14em;
      border: solid 1px grey;
      filter: drop-shadow(1px 1px 3px #000);
      margin: 0 2em;
      @media only screen and (max-width: 1000px) {
        width: 13.3em;
        height: 10em;
        margin: 1em 1.5em;
      }
    }
  }
}





