.thumbnail {
  background: rgba(0, 0, 0, 0.3);
  height: inherit;
  width: inherit;
  animation: fadeIn 1s;
}

.gallery {
  margin: 2em;
  @include flex-center();
  flex-wrap: wrap;
}

.image {
  margin: 0.5em;
  width: 350px;
  height: 200px;
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
    filter: brightness(0.7);
  }
}


