@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-medium';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Montserrat-Medium.ttf');
}

body {
  margin: 0;
  font-family: 'Montserrat-medium', serif;
  display: grid;
}

.container {
  display: grid;
}

@import "components.module";
@import "navigation.module";
@import "contact.module";
@import "footer.module";
@import "library.module";
@import "index.module";

.arrow_up_layout {
  position: fixed;
  bottom: 1em;
  right: 1em;
  font-size: 4em;
  transition: all 0.3s ease;
  color: black;
  background: white;
  transform: rotate(180deg);
  border-radius: 2em;
  cursor: pointer;
  filter: drop-shadow(0 0 6px rgba(0,0,0, 0.5));
  @include flex-center;
}
.arrow_up_layout:hover {
  transform: rotate(0deg);
  color: #3f89a2;
  cursor: pointer;
}