@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-medium';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Montserrat-Medium.ttf');
}

body {
  margin: 0;
  font-family: 'Montserrat-medium', serif;
  display: grid;
}

.container {
  display: grid;
}

@import "components.module";
@import "navigation.module";
@import "contact.module";
@import "footer.module";
@import "library.module";
@import "index.module";