body {
  margin: 0;
}
.headroom {
  top: 0;
  left: 0;
  right: 0;
  zIndex: 1;
  display: flex;
}
.headroom--unfixed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.headroom--unpinned {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headroom--pinned {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 6em;
  height: 6em;
  margin: 1em 0 1em 6em;
}
.logo:hover {
  cursor: pointer;
}
.list {
  justify-content: space-between;
  padding-right: 10em;
}

.list {
  list-style-type: none;
  display: flex;
  align-items: center;
  > li {
    text-decoration: none;
    padding: 1em 2em;
    font-size: 1.3em;
    color:black;
    transform: scale(1);
    transition: all 0.3s ease;
    &.pressed {
      transform: scale(1.1);
      color: #3f89a2;
    }
    > a {
      color: inherit;
      text-decoration: none;
    }
  }
  & li:hover {
    transform: scale(1.1);
    color: #3f89a2;
    cursor: pointer;
  }
}

.about_us_div {
  padding: 20px 50px;
}