@keyframes fa-blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}

.fa-blink {
  -webkit-animation: fa-blink .75s linear infinite;
  -moz-animation: fa-blink .75s linear infinite;
  -ms-animation: fa-blink .75s linear infinite;
  -o-animation: fa-blink .75s linear infinite;
  animation: fa-blink .75s linear infinite;
  padding-right: 0.5em;
  font-size: 1.2em;
  margin-bottom: -0.2em;
  filter: drop-shadow(0px 1px 1px grey);
  @media only screen and (max-width: 600px) {
    font-size: 1em;
    padding-right: 0.5em;

  }
}

.expandButton {
  background: white;
  width: 15em;
  margin: 0 0 0 1em;
  padding: 1em 0 1em 1em;
  @media only screen and (max-width: 600px) {
    width: 12em;
    margin: 0 0 0 0.5em;
    padding: 1em 0 1em 1em;
    font-size: 0.5em;
  }
  transition: all ease 0.3s;
}

.expandButton:hover {
  cursor: pointer;
  color: #3f89a2;
}
.images-select {
  width: 100%;
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    >span:nth-child(n) {
      border-right: 1px solid #ccc;
    }
    >span:nth-child(n) {
      border-bottom: 1px solid #ccc;
    }
    >span:nth-child(3n) {
      border-right: none;
    }
    >span:nth-child(10) {
      border-bottom: none;
    }
    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr 1fr 1fr;
      >span:nth-child(n) {
        border-right: 1px solid #ccc;
      }
      >span:nth-child(-n + 6) {
        border-bottom: 1px solid #ccc;
      }
      >span:nth-child(3n) {
        border-right: none;
      }
    }
  }
  &--item {
    padding: 15px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    &.is-active {
      color: #3f89a2;
    }
    &:hover {
      cursor: pointer;
      transition: all 0.3s ease;
      color: #3f89a2;
    }
  }
}

.expand-selector {
  display: none;
}

.openedExpand {

  color: white;
  background: #b3d9ff; //#d9ffa0;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  text-shadow: 1px 1px grey;

}

.openedExpand:hover {
  color: white;
}

.expand {
  margin: -1.5em -3em -1.5em 2em;
  padding: 0 1em 0 1em;
  border-radius: 10px;
  width: 90%;
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  transition: all ease 0.3s;
  @media only screen and (max-width: 1000px) {
    margin: -1em -2em -1em 1.5em;
    padding: 0 0.5em 0 0.5em;
  }
}

.galleryProd {
  margin: -1em 1em 0em 1em;
  padding: 1em;
  @media only screen and (max-width: 1000px) {
    margin: -0.5em 0.5em 0em 0.5em;
    padding: 0.5em;

  }
}

.expandImages {
  display: flex;
}

.list_div {
  padding-top: 3em;
  font-size: 20px;
  display: block;
  align-items: center;
  height: 100%;
}

.production {
  @include flex;
  margin-bottom: 2em;
  align-items: center;
  justify-content:center;
  .c-container { 
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.fullExpand {
  position: relative;
  width: 100%;
  padding: 1em 0 1em 0;
  @media only screen and (max-width: 1000px) {
    margin-right: -1px;

  }

}
h1 {
  text-align: center;
}

.productionImage {
  margin: 1em;
  cursor: pointer;
  width: 300px;
  height: 200px;
  @media only screen and (max-width: 768px) {
    width: 235px;
    height: 150px;
  }
  @media only screen and (max-width: 568px) {
    width: 220px;
    height: 140px;

  }
  @media only screen and (max-width: 538px) {
    width: 205px;
    height: 130px;

  }
  @media only screen and (max-width: 508px) {
    width: 190px;
    height: 110px;

  }
  @media only screen and (max-width: 485px) {
   width: calc(100% - 1em);
   height: auto;

  }
}

.productionImage:hover {
  transform: scale(1.05);
  filter: brightness(0.7);
  transition-duration: 200ms;
}

.details {
  position: relative;
  z-index: 0.5;
  border-left: solid 1px #b3d9ff; //#d9ffa0;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 1em 0 1em 0;;
  background: linear-gradient(100deg, #b3d9ff 50%, #FFF 100%);
  width: 100%;
  min-height: 40em;
  @include flex-center();
}

.upper_radius,
.bottom_radius {
  float: right;
  font-size: 18px;
  line-height: 18px;
  > img {
    opacity: 0;
    transition: all ease 0.3s;
  }
  > img.active {
    opacity: 1;
  }
  @media only screen and (max-width: 1000px) {
    margin-right: -1px;

  }

}
.bottom_radius {
  transform: translateY(-0.5px);
}
.upper_radius {
  margin-top: calc(-1.1em);
  transform: rotateX(180deg);
}

.upper_radius > img,
.bottom_radius > img {
  width: 18px;
  height: 18px;
}
.images-select__mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  .productionImage {
    margin: 0.5em;
  }
  .images-select {
    display: none;
  }
  .selector-arrow {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    path {
      fill: #14161a;
    }
  }
  .images-select__mobile {
    display: inline-block;
    position: relative;
    .expand-selector {
      position: relative;
      display: block;
      text-align: center;
      min-width: 400px;
      padding: 20px;
      box-sizing: border-box;
      border: 2px solid #14161a;
      border-radius: 2px;
     
    }
    &--content {
      position: absolute;
      width: 100%;
      border: 2px solid #14161a;
      opacity: 0;
      max-height: 0px;
      pointer-events: none;
      transition: all 0.3s ease-out;
      top: calc(100% - 2px);
      background-color: #ffffff;
      z-index: 10;
      box-sizing: border-box;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      
    }
    &.is-active {
      .expand-selector {
        border: 2px solid #3f89a2;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      .images-select__mobile--content {
        border: 2px solid #3f89a2;
        opacity: 1;
        max-height:1000vh;
        pointer-events: all;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .images-select__mobile  {
    min-width: 100%;
    .expand-selector {
      min-width: unset;
    }
  }

}