.expandButton {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  display: block;
  background: white;
  width: 10em;
  height: 11em;
  margin: 3em;
  transition-property: border-bottom, border-bottom-left-radius, border-bottom-right-radius;
  transition-duration: 4.5s;
}


.expandButton:hover {
  cursor: pointer;
}

.openedExpand {
  border-bottom:none;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
}

.expand {
  width: 11em;
  margin-left: -0.55em;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}
.list_div {
  font-size: 20px;
}
.production {
  display: flex;
}